{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <title>Store</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/bootstrap.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/style.css' %}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'store/css/responsive.css' %}">
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{% static 'store/css/jquery.mCustomScrollbar.min.css' %}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- fonts -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
   <!-- font awesome -->
   <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <!--  -->
   <!-- owl stylesheets -->
   <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
   
   {% include 'partials/navbar.html' %}

   {% block content %}{% endblock %}
    
   {% include 'partials/footer.html' %}

   <!-- Javascript files-->
   <script src="{% static 'store/js/jquery.min.js' %}"></script>
   <script src="{% static 'store/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'store/js/popper.min.js' %}"></script>
   <script src="{% static 'store/js/jquery-3.0.0.min.js' %}"></script>
   <script src="{% static 'store/js/plugin.js' %}"></script>
   <!-- sidebar -->
   <script src="{% static 'store/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
   <script src="{% static 'store/js/custom.js' %}"></script>
   <script>

      var actualShoppingCar = myShopingCar()

      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }

      function myShopingCar(){
         let myShoppyngCar = "{{ shoppingCar|safe }}";

         if (myShoppyngCar === "{}"){
            return {}
         }else{
            myShoppyngCar = myShoppyngCar.replace(/'/g, '"');
            myShoppyngCar = JSON.parse(myShoppyngCar)
            
            return myShoppyngCar
         }

      }

      function addCar(product){
         var base_url = window.location.origin;
         var exists = false

         let myShoppyngCar = actualShoppingCar
         
         for (const item in myShoppyngCar) {
            if (myShoppyngCar[item].product._id === product) {
               exists = true;
               break;
            }
         }

         if(exists){
            alert('El Producto ya se encuentra en su carrito')      
         }else{
            const addcar = fetch(base_url+'/add-shopping-car/',{
            method: "POST",
            headers: {
               'Content-Type': 'application/json',
               "X-CSRFToken": '{{csrf_token}}'
            },
               body: JSON.stringify({
                  'product': product,
               })
            })
            .then(response => response.json())
            .then(data => {
               let newcar = data.car
               newcar = JSON.parse(newcar)
               
               const car = document.getElementById('myShoppyngCar');
               let myItems = Object.keys(newcar).length;
               car.innerHTML = myItems ;

               actualShoppingCar = data.car

            })
            .catch(error => {
               alert('Error al incluir en el carrito')
               console.error(error)
            });      
         }
      }

      function  mycar(){
         const mycar = myShopingCar()

         const car = document.getElementById('myShoppyngCar');
         if (mycar === {}){
            car.innerHTML = 0 ;      
         }else{
            let myItems = Object.keys(mycar).length;
            car.innerHTML = myItems ;
         }
      }

      mycar()
   </script>
</body>
</html>
