{% extends "base.html" %}

{% block content %}
<style>
   .box_main .tshirt_img {
      min-height: 0 !important;
   }
</style>

<!-- fashion section start -->
<div class="fashion_section">
   <div id="main_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <h1 class="fashion_taital mt-4">Nuestros Vehiculos</h1>
               <div class="fashion_section_2">
                  <div class="row">
                     {% for car in products %}
                     <div class="col-lg-4 col-sm-4">
                        <div class="box_main">
                           <h4 class="shirt_text">{{ car.name }}</h4>
                           <p class="price_text">Precio <span style="color: #262626;">₡ {{ car.price }}</span></p>
                           <div class="tshirt_img"><img src="{{ car.images.imagen }}" style="height: 200px;"></div>
                           <ul class="list-group mb-4">
                              <li class="list-group-item">Marca: {{car.make }} </li>
                              <li class="list-group-item">Modelo: {{car.model }} </li>
                              <li class="list-group-item">Ano: {{car.year }} </li>
                           </ul>
                           <div class="btn_main">
                              <div class="buy_bt"><a href="#" onclick="addCar( '{{ car.id}}' )">Anadir al Carro </a>
                              </div>
                              <div class="seemore_bt"><a href="car/{{ car.id}}">Ver Mas</a></div>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- fashion section end -->
{% endblock %}